In [3]:
#importing the libararies
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [4]:
# Connecting to the database Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:admin@localhost/group_new'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

In [9]:
# Table 1: State
state ="create table state(\
                state_id int PRIMARY KEY NOT NULL,\
                state_code varchar(2));"

connection.execute(state)

In [10]:
# Table 2: City
city ="create table city(\
                city_id int PRIMARY KEY NOT NULL,\
                city_name varchar,\
                state_id int,\
                FOREIGN KEY (state_id) REFERENCES state(state_id));"

connection.execute(city)

In [13]:
# Table 3: Geolocation
geolocation ="create table geolocation(\
                zip_id int PRIMARY KEY NOT NULL,\
                zipcode varchar,\
                city_id int,\
                state_id int,\
                FOREIGN KEY (state_id) REFERENCES state(state_id),\
                FOREIGN KEY (city_id) REFERENCES city(city_id));"

connection.execute(geolocation)

In [15]:
# Table X: latlon
latlon ="create table latlon(\
                zip_code_prefix_id int PRIMARY KEY NOT NULL,\
                zip_id int,\
                zipcode varchar,\
                geolocation_lat varchar,\
                geolocation_lng varchar,\
                FOREIGN KEY (zip_id) REFERENCES geolocation(zip_id));"

connection.execute(latlon)

In [16]:
# Table 4: Customer
customer ="create table customer(\
                customer_id varchar PRIMARY KEY NOT NULL,\
                zip_id int,\
                FOREIGN KEY (zip_id) REFERENCES geolocation(zip_id));"

connection.execute(customer)

In [17]:
# Table 5: Sellers
sellers ="create table sellers(\
                seller_id varchar PRIMARY KEY NOT NULL,\
                zip_id int,\
                FOREIGN KEY (zip_id) REFERENCES geolocation(zip_id));"

connection.execute(sellers)

In [18]:
# Table 6: Product Category
product_category ="create table product_category(\
                product_category_id int PRIMARY KEY NOT NULL,\
                product_category_name varchar,\
                product_category_name_english varchar,\
                prod_cat_id varchar,\
                prod_cat varchar,\
                prod_sub_cat varchar,\
                prod_last_cat varchar);"

connection.execute(product_category)

In [19]:
# Table 7: Products
products ="create table products(\
                product_id varchar PRIMARY KEY NOT NULL,\
                product_category_id int,\
                product_description_length int,\
                product_name_length int,\
                product_photos_qty int,\
                product_weight_g numeric,\
                product_length_cm numeric,\
                product_height_cm numeric,\
                product_width_cm numeric,\
                FOREIGN KEY (product_category_id) REFERENCES product_category(product_category_id));"

connection.execute(products)

In [20]:
# Table 8: Order list
order_list ="create table order_list(\
                order_id varchar PRIMARY KEY NOT NULL,\
                customer_id varchar,\
                FOREIGN KEY (customer_id) REFERENCES customer(customer_id));"

connection.execute(order_list)

In [21]:
# Table 9: Order details
order_details ="create table order_details(\
                order_id varchar ,\
                order_item_id int,\
                product_id varchar,\
                seller_id varchar,\
                price numeric,\
                freight_value numeric,\
                PRIMARY KEY (order_id , order_item_id),\
                FOREIGN KEY (order_id ) REFERENCES order_list(order_id),\
                FOREIGN KEY (seller_id ) REFERENCES sellers(seller_id),\
                FOREIGN KEY (product_id ) REFERENCES products(product_id));"

connection.execute(order_details)

In [22]:
# Table 10: Payment type
payment_type ="create table payment_type(\
                payment_type_id int PRIMARY KEY NOT NULL,\
                payment_type varchar,\
                payment_type_new varchar);"

connection.execute(payment_type)

In [23]:
# Table 11: Payment details
payment_details ="create table payment_details(\
                payment_id int PRIMARY KEY NOT NULL,\
                order_id varchar,\
                payment_type_id int,\
                payment_sequential int,\
                payment_installments int,\
                payment_value numeric,\
                FOREIGN KEY (order_id) REFERENCES order_list(order_id),\
                FOREIGN KEY (payment_type_id) REFERENCES payment_type(payment_type_id));"

connection.execute(payment_details)

In [24]:
# Table 12: Delivery
delivery ="create table delivery(\
                order_id varchar PRIMARY KEY NOT NULL,\
                order_approved_at timestamp,\
                order_purchase_timestamp timestamp,\
                order_delivery_carrier_date timestamp,\
                shipping_limit_date timestamp,\
                order_delivery_customer_date timestamp,\
                order_estimated_delivery_date timestamp,\
                FOREIGN KEY (order_id) REFERENCES order_list(order_id));"

connection.execute(delivery)

In [25]:
# Table 13: Order Status
order_status ="create table order_status(\
                order_id varchar PRIMARY KEY NOT NULL,\
                customer_id varchar,\
                payment_id int,\
                order_status varchar,\
                FOREIGN KEY (order_id) REFERENCES order_list(order_id),\
                FOREIGN KEY (customer_id) REFERENCES customer(customer_id),\
                FOREIGN KEY (payment_id) REFERENCES payment_details(payment_id));"

connection.execute(order_status)

In [26]:
# Table 14: Review Details
review_details ="create table review_details(\
                review_id varchar,\
                order_id varchar,\
                review_score int,\
                review_comment_title varchar,\
                review_comment_message varchar,\
                review_creation_date timestamp,\
                review_answer_timestamp timestamp,\
                PRIMARY KEY (review_id , order_id),\
                FOREIGN KEY (order_id) REFERENCES order_list(order_id));"

connection.execute(review_details)

In [27]:
# Reading all the files with all our base datasets 
customers = pd.read_csv('olist_customers_dataset.csv', encoding='ISO-8859-1')
geolocation = pd.read_csv('olist_geolocation_dataset.csv', encoding='ISO-8859-1')
order_items = pd.read_csv('olist_order_items_dataset.csv', encoding='ISO-8859-1')
order_payments = pd.read_csv('olist_order_payments_dataset.csv', encoding='ISO-8859-1')
order_reviews = pd.read_csv('olist_order_reviews_dataset.csv', encoding='ISO-8859-1')
order = pd.read_csv('olist_orders_dataset.csv', encoding='ISO-8859-1')
products = pd.read_csv('olist_products_dataset.csv', encoding='ISO-8859-1')
sellers = pd.read_csv('olist_sellers_dataset.csv', encoding='ISO-8859-1')
product_category = pd.read_csv('product_category_name_translation.csv', encoding='ISO-8859-1')
latlon=pd.read_csv('olist_geolocation_dataset.csv', encoding='ISO-8859-1')

In [61]:
latlon=pd.read_csv('olist_geolocation_dataset.csv', encoding='ISO-8859-1')

In [28]:
# Create temporary dataframe with unique location_id
geolocation.rename(columns={'geolocation_zip_code_prefix': 'zipcode'}, inplace=True)
geolocation.rename(columns={'geolocation_city': 'city_name'}, inplace=True)
geolocation.rename(columns={'geolocation_state': 'state_code'}, inplace=True)

In [29]:
geolocation1=geolocation.drop_duplicates(subset = "zipcode")

In [30]:
geolocation1.shape

(19015, 5)

In [31]:
geolocation1.head()

   zipcode  geolocation_lat  geolocation_lng  city_name state_code
0     1037       -23.545621       -46.639292  sao paulo         SP
1     1046       -23.546081       -46.644820  sao paulo         SP
3     1041       -23.544392       -46.639499  sao paulo         SP
4     1035       -23.541578       -46.641607  sao paulo         SP
5     1012       -23.547762       -46.635361  são paulo         SP

In [32]:
#geolocation1.loc[geolocation1['zipcode']<10000]

In [33]:
geolocation1['zipshort'] = np.where(geolocation1['zipcode'] <10000, 'Y','N')
geolocation1["zipcodestring"]= geolocation1["zipcode"].apply(str)
geolocation1['zipcodey'] = np.where(geolocation1['zipshort'] == 'Y',  geolocation1['zipcode'].astype(str)+'0' , geolocation1['zipcode'].astype(str))
geolocation1.rename(columns={'zipcode': 'orig_zipcode','zipcodey': 'zipcode_complete'}, inplace=True)

C:\Users\Carolina Mendoza\AppData\Local\Temp\ipykernel_140164\993071355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geolocation1['zipshort'] = np.where(geolocation1['zipcode'] <10000, 'Y','N')
C:\Users\Carolina Mendoza\AppData\Local\Temp\ipykernel_140164\993071355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geolocation1["zipcodestring"]= geolocation1["zipcode"].apply(str)
C:\Users\Carolina Mendoza\AppData\Local\Temp\ipykernel_140164\993071355.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geolocation1['zipcodey'] = np.where(geolocation1['zipshort'] == 'Y',  geolocation1['zipcode'].astype(str)+'0' , geolocation1['zipcode'].astype(str))
C:\Users\Carolina Mendoza\AppData\Local\Temp\ipykernel_140164\993071355.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geolocation1.rename(columns={'zipcode': 'orig_zipcode','zipcodey': 'zipcode_complete'}, inplace=True)

In [34]:
#geolocation.rename(columns={'orig_zipcode': 'zipcode','zipcode': 'zipcodey'}, inplace=True)

In [35]:
geolocation1['zipcode'] = geolocation1['zipcode_complete'].astype(int)

C:\Users\Carolina Mendoza\AppData\Local\Temp\ipykernel_140164\3865762112.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geolocation1['zipcode'] = geolocation1['zipcode_complete'].astype(int)

In [36]:
geolocation1.head()

,orig_zipcode,geolocation_lat,geolocation_lng,city_name,state_code,zipshort,zipcodestring,zipcode_complete,zipcode
0,1037,-23.545621,-46.639292,sao paulo,SP,Y,1037,10370,10370
1,1046,-23.546081,-46.644820,sao paulo,SP,Y,1046,10460,10460
3,1041,-23.544392,-46.639499,sao paulo,SP,Y,1041,10410,10410
4,1035,-23.541578,-46.641607,sao paulo,SP,Y,1035,10350,10350
5,1012,-23.547762,-46.635361,são paulo,SP,Y,1012,10120,10120

In [39]:
#Create temporary dataframe with list of zipcodes and cities in Brazil
zip = pd.read_table('ceps.csv', sep=',',encoding='latin-1', header=None)
#zip.reset_index(inplace=True)
zip = zip.rename(columns = {0:'zip_code',1:'city',2:'region',3:'area1',4:'area2'})
zip = zip[["zip_code", "city"]]
zip[['city','state']] = zip['city'].str.split('/',expand=True)
zip['zipcode'] = zip.zip_code.astype(str).str[:5]
zip["zipcode"]=zip["zipcode"].astype(np.int64)
zip

        zip_code                      city           state  zipcode
0        1001000                 São Paulo              SP    10010
1        1001001                 São Paulo              SP    10010
2        1001010                 São Paulo              SP    10010
3        1001900                 São Paulo              SP    10019
4        1001901                 São Paulo              SP    10019
...          ...                       ...             ...      ...
732758  99975970  São João Bosco (Ciríaco)  RS  - Distrito    99975
732759  99978000     Cruzaltinha (Ciríaco)  RS  - Distrito    99978
732760  99980000           David Canabarro              RS    99980
732761  99980970           David Canabarro              RS    99980
732762  99980974           David Canabarro              RS    99980

[732763 rows x 4 columns]

In [40]:
geo_df= pd.merge(geolocation1,zip,on ='zipcode',how ='left')
geo_df

,orig_zipcode,geolocation_lat,geolocation_lng,city_name,state_code,zipshort,zipcodestring,zipcode_complete,zipcode,zip_code,city,state
0,1037,-23.545621,-46.639292,sao paulo,SP,Y,1037,10370,10370,1037000.0,São Paulo,SP
1,1037,-23.545621,-46.639292,sao paulo,SP,Y,1037,10370,10370,1037001.0,São Paulo,SP
2,1037,-23.545621,-46.639292,sao paulo,SP,Y,1037,10370,10370,1037010.0,São Paulo,SP
3,1046,-23.546081,-46.644820,sao paulo,SP,Y,1046,10460,10460,1046000.0,São Paulo,SP
4,1046,-23.546081,-46.644820,sao paulo,SP,Y,1046,10460,10460,1046001.0,São Paulo,SP
...,...,...,...,...,...,...,...,...,...,...,...,...
763866,99920,-27.858716,-52.300403,erebango,RS,N,99920,99920,99920,9992090.0,Diadema,SP
763867,99920,-27.858716,-52.300403,erebango,RS,N,99920,99920,99920,99920000.0,Erebango,RS
763868,99920,-27.858716,-52.300403,erebango,RS,N,99920,99920,99920,99920970.0,Erebango,RS
763869,99952,-28.160371,-51.936922,santa cecilia do sul,RS,N,99952,99952,99952,99952000.0,Santa Cecília do Sul,RS
763870,99952,-28.160371,-51.936922,santa cecilia do sul,RS,N,99952,99952,99952,99952974.0,Santa Cecília do Sul,RS

In [41]:
empty=geo_df[geo_df['city'].isna()]
empty

,orig_zipcode,geolocation_lat,geolocation_lng,city_name,state_code,zipshort,zipcodestring,zipcode_complete,zipcode,zip_code,city,state
2203,1189,-23.532108,-46.638395,sao paulo,SP,Y,1189,11890,11890,NaN,NaN,NaN
4418,1200,-23.531568,-46.649869,sao paulo,SP,Y,1200,12000,12000,NaN,NaN,NaN
10374,2089,-23.517094,-46.616673,sao paulo,SP,Y,2089,20890,20890,NaN,NaN,NaN
10375,2088,-23.504240,-46.620742,sao paulo,SP,Y,2088,20880,20880,NaN,NaN,NaN
29710,2829,-23.495057,-46.702601,sao paulo,SP,Y,2829,28290,28290,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
755012,97313,-30.323954,-54.323002,são gabriel,RS,N,97313,97313,97313,NaN,NaN,NaN
755014,97314,-30.326340,-54.319500,são gabriel,RS,N,97314,97314,97314,NaN,NaN,NaN
755015,97306,-30.356530,-54.333653,são gabriel,RS,N,97306,97306,97306,NaN,NaN,NaN
763792,99839,-27.586950,-52.092478,gaurama,RS,N,99839,99839,99839,NaN,NaN,NaN
763820,99990,-28.329718,-51.769615,muliterno,RS,N,99990,99990,99990,NaN,NaN,NaN

In [42]:
import io
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")

def city_state_country(row):
    coord = f"{row['geolocation_lat']}, {row['geolocation_lng']}"
    location = geolocator.reverse(coord, exactly_one=True)
    address = location.raw['address']
    city = address.get('city', '')
    village = address.get('village', '')
    town = address.get('town', '')
    #state = address.get('state', '')
    #country = address.get('country', '')
    row['city'] = city
    row['village'] = village
    row['town'] = town
    #row['state'] = state
    #row['country'] = country
    #print(row)
    return row

C:\Users\Carolina Mendoza\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (5.0.0)/charset_normalizer (2.0.11) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [43]:
#Creating temporary dataset with missing City names 
empty_results = empty.apply(city_state_country, axis=1)
empty_results['city'] = empty_results[['city', 'village', 'town']].apply(lambda x: ''.join(x.dropna()), axis=1)
#df = df[["city_id", "zipcode","city"]]

In [44]:
empty_results= empty_results[['orig_zipcode', 'city']]
#empty_results.head()

In [45]:
geo_df.head()

,orig_zipcode,geolocation_lat,geolocation_lng,city_name,state_code,zipshort,zipcodestring,zipcode_complete,zipcode,zip_code,city,state
0,1037,-23.545621,-46.639292,sao paulo,SP,Y,1037,10370,10370,1037000.0,São Paulo,SP
1,1037,-23.545621,-46.639292,sao paulo,SP,Y,1037,10370,10370,1037001.0,São Paulo,SP
2,1037,-23.545621,-46.639292,sao paulo,SP,Y,1037,10370,10370,1037010.0,São Paulo,SP
3,1046,-23.546081,-46.644820,sao paulo,SP,Y,1046,10460,10460,1046000.0,São Paulo,SP
4,1046,-23.546081,-46.644820,sao paulo,SP,Y,1046,10460,10460,1046001.0,São Paulo,SP

In [46]:
total_geo= pd.merge(geo_df,empty_results,on ='orig_zipcode',how ='left')
total_geo.head()

,orig_zipcode,geolocation_lat,geolocation_lng,city_name,state_code,zipshort,zipcodestring,zipcode_complete,zipcode,zip_code,city_x,state,city_y
0,1037,-23.545621,-46.639292,sao paulo,SP,Y,1037,10370,10370,1037000.0,São Paulo,SP,NaN
1,1037,-23.545621,-46.639292,sao paulo,SP,Y,1037,10370,10370,1037001.0,São Paulo,SP,NaN
2,1037,-23.545621,-46.639292,sao paulo,SP,Y,1037,10370,10370,1037010.0,São Paulo,SP,NaN
3,1046,-23.546081,-46.644820,sao paulo,SP,Y,1046,10460,10460,1046000.0,São Paulo,SP,NaN
4,1046,-23.546081,-46.644820,sao paulo,SP,Y,1046,10460,10460,1046001.0,São Paulo,SP,NaN

In [47]:
total_geo['city'] = total_geo[['city_x', 'city_y']].apply(lambda x: ''.join(x.dropna()), axis=1)
#total_geo.head()
total_geo=total_geo[['orig_zipcode','state_code','city']]
#total_geo[total_geo['city'].isna()]
total_geo.rename(columns={'orig_zipcode': 'zipcode','city': 'city_name'}, inplace=True)

In [48]:
total_geo.head()

   zipcode state_code  city_name
0     1037         SP  São Paulo
1     1037         SP  São Paulo
2     1037         SP  São Paulo
3     1046         SP  São Paulo
4     1046         SP  São Paulo

In [49]:
#For Table 1: states
states_df=total_geo.loc[:, ['state_code']]
states_df=states_df.drop_duplicates()
states_df=states_df.sort_values(by=['state_code'])
states_df['state_id'] = states_df['state_id'] = np.arange(len(states_df))+1
states_df

       state_code  state_id
552177         AC         1
466427         AL         2
547285         AM         3
546417         AP         4
373206         BA         5
492105         CE         6
552847         DF         7
307453         ES         8
576370         GO         9
524561         MA        10
316154         MG        11
632432         MS        12
623376         MT        13
528364         PA        14
471726         PB        15
423132         PE        16
518109         PI        17
644168         PR        18
217395         RJ        19
437099         RN        20
612084         RO        21
550288         RR        22
713351         RS        23
691539         SC        24
417109         SE        25
0              SP        26
619044         TO        27

In [66]:
# inserting values into customer_ids table
states_df.to_sql(name='state', con=engine, if_exists='append', index=False)

27

In [50]:
#For Table 2: City
city_df=total_geo.loc[:, ['city_name','state_code']]
city_df=city_df.drop_duplicates(subset = "city_name")
city_df=city_df.sort_values(by=['city_name'])
city_df['city_id'] = city_df['city_id'] = np.arange(len(city_df))+1
city_df= pd.merge(city_df,states_df,on ='state_code',how ='left')
city_df=city_df.drop(columns=['state_code'])
city_df

                city_name  city_id  state_id
0                                1        26
1       Abadia (Jandaíra)        2        26
2         Abadia de Goiás        3         9
3     Abadia dos Dourados        4        11
4               Abadiânia        5         9
...                   ...      ...       ...
6310                Áurea     6311        23
6311               Ângulo     6312        18
6312        Érico Cardoso     6313        26
6313               Óbidos     6314        26
6314                 Óleo     6315        26

[6315 rows x 3 columns]

In [67]:
city_df.to_sql(name='city', con=engine, if_exists='append', index=False)

315

In [51]:
#For Table 3: Geolocation
zip_df=total_geo.loc[:, ['zipcode','city_name','state_code']]
zip_df=zip_df.drop_duplicates(subset = "zipcode")
zip_df=zip_df.sort_values(by=['zipcode'])
zip_df['zip_id'] = zip_df['zip_id'] = np.arange(len(zip_df))+1
zip_df= pd.merge(zip_df,city_df,on ='city_name',how ='left')
zip_df=zip_df.drop(columns=['city_name','state_code'])
zip_df

       zipcode  zip_id  city_id  state_id
0         1001       1     5644        26
1         1002       2     5644        26
2         1003       3     5644        26
3         1004       4     5644        26
4         1005       5     5644        26
...        ...     ...      ...       ...
19010    99960   19011     1358        23
19011    99965   19012     6291        23
19012    99970   19013     1389        23
19013    99980   19014     1705        23
19014    99990   19015     3597        23

[19015 rows x 4 columns]

In [68]:
zip_df.to_sql(name='geolocation', con=engine, if_exists='append', index=False)

15

In [59]:
latlon

,zipcode,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [70]:
#For Table X: latlon
#latlon_df=total_geo.loc[:, ['state_code']]
#latlon_df=latlon
#latlon_df=latlon_df.drop_duplicates()
latlon_df=latlon.sort_values(by=['geolocation_zip_code_prefix'])
latlon_df.rename(columns={'geolocation_zip_code_prefix': 'zipcode'}, inplace=True)
latlon_df= pd.merge(latlon_df,zip_df,on ='zipcode',how ='left')
latlon_df['zip_code_prefix_id'] = np.arange(len(latlon_df))+1
latlon_df=latlon_df.drop(columns=['city_id','state_id','geolocation_city','geolocation_state'])
latlon_df

         zipcode  geolocation_lat  geolocation_lng  zip_id  zip_code_prefix_id
0           1001       -23.549292       -46.633559       1                   1
1           1001       -23.550498       -46.634338       1                   2
2           1001       -23.549779       -46.633957       1                   3
3           1001       -23.549292       -46.633559       1                   4
4           1001       -23.551427       -46.634074       1                   5
...          ...              ...              ...     ...                 ...
1000158    99980       -28.388679       -51.848863   19014             1000159
1000159    99980       -28.388400       -51.845225   19014             1000160
1000160    99980       -28.388342       -51.845194   19014             1000161
1000161    99990       -28.329472       -51.769109   19015             1000162
1000162    99990       -28.329718       -51.769615   19015             1000163

[1000163 rows x 5 columns]

In [71]:
latlon_df.to_sql(name='latlon', con=engine, if_exists='append', index=False)

163

In [72]:
## for Table 4: customer
customers.rename(columns={'customer_zip_code_prefix': 'zipcode'}, inplace=True)
customers_df = customers.filter(['customer_id', 'zipcode'])
#len(customers_df)
customers_df=customers_df.drop_duplicates(subset = "customer_id")
#len(customers_df)
customers_df=customers_df.sort_values(by=['customer_id'])
#customers_df['customer_id'] = customers_df['customer_id'] = np.arange(len(customers_df))+1
customers_df= pd.merge(customers_df,zip_df,on ='zipcode',how ='left')
customers_df=customers_df.drop(columns=['zipcode','city_id','state_id'])
customers_df.head()

                        customer_id  zip_id
0  00012a2ce6f8dcda20d059ce98491703  3140.0
1  000161a058600d5901f007fab4c27140  8757.0
2  0001fd6190edaaf884bcaf3d49edf079  8008.0
3  0002414f95344307404f0ace7a26f1d5  9816.0
4  000379cdec625522490c315e70c7a9fb  2327.0

In [94]:
# inserting values into customers table
customers_df.to_sql(name='customer', con=engine, if_exists='append', index=False)

441

In [73]:
## for Table 5: sellers
sellers.rename(columns={'seller_zip_code_prefix': 'zipcode'}, inplace=True)
sellers_df = sellers.filter(['seller_id', 'zipcode'])
sellers_df=sellers_df.sort_values(by=['seller_id'])
sellers_df= pd.merge(sellers_df,zip_df,on ='zipcode',how ='left')
sellers_df=sellers_df.drop(columns=['zipcode','city_id','state_id'])
sellers_df.head()

                          seller_id   zip_id
0  0015a82c2db000af6aaaf3ae2ecb0532   4059.0
1  001cca7ae9ae17fb1caed9dfb1094831   7834.0
2  001e6ad469a905060d959994f1b41e4f   6928.0
3  002100f778ceb8431b7a1020ff7ab48f   5355.0
4  003554e2dce176b5555353e4f3555ac8  14909.0

In [74]:
# inserting values into sellers table
sellers_df.to_sql(name='sellers', con=engine, if_exists='append', index=False)

95

In [75]:
## for Table 6: product_category
prod_cat_df=product_category.sort_values(by=['product_category_name_english'])
prod_cat_df.rename(columns={'ï»¿product_category_name': 'product_category_name'}, inplace=True)

In [76]:
prod_cat_df.head()

        product_category_name product_category_name_english
37  agro_industria_e_comercio    agro_industry_and_commerce
24               climatizacao              air_conditioning
46                      artes                           art
67         artes_e_artesanato         arts_and_craftmanship
20                      audio                         audio

In [77]:
prod_cat_df.insert(2,"prod_cat", " ")
prod_cat_df.insert(3,"prod_sub_cat", " ")
prod_cat_df.insert(4,"prod_last_cat", " ")

In [78]:
vals_prod_last= {
'health_beauty':'Health & Beauty',
'computers_accessories':'Computer Accesories',
'auto':'Auto',
'bed_bath_table':'Furniture',
'furniture_decor':'Decor',
'sports_leisure':'Sports',
'perfumery':'Perfumery',
'housewares':'Housewares',
'telephony':'Telephony',
'watches_gifts':'Watches & Gifts',
'food_drink':'Food & Drinks',
'baby':'Baby',
'stationery':'Stationery',
'tablets_printing_image':'Tablets',
'toys':'Toys',
'fixed_telephony':'Fixed',
'garden_tools':'Garden Tools',
'fashion_bags_accessories':'Bags',
'small_appliances':'Small Appliances',
'consoles_games':'Console Games',
'audio':'Audio',
'fashion_shoes':'Shoes',
'cool_stuff':'Cool Stuff',
'luggage_accessories':'Luggage',
'air_conditioning':'Air Conditioning',
'construction_tools_construction':'Construction Tools',
'kitchen_dining_laundry_garden_furniture':'Kitchen',
'costruction_tools_garden':'Garden Tools',
'fashion_male_clothing':'Male Clothing',
'pet_shop':'Pets',
'office_furniture':'Office',
'market_place':'Market Place',
'electronics':'Electronics',
'home_appliances':'Home Appliances',
'party_supplies':'Party Supplies',
'home_confort':'Decor',
'costruction_tools_tools':'Tools',
'agro_industry_and_commerce':'Agro',
'furniture_mattress_and_upholstery':'Mattress',
'books_technical':'Technical',
'home_construction':'Home',
'musical_instruments':'Musical Instruments',
'furniture_living_room':'Living Room',
'construction_tools_lights':'Lights',
'industry_commerce_and_business':'Commerce and Business',
'food':'Food',
'art':'Art',
'furniture_bedroom':'Bedroom',
'books_general_interest':'General Interest',
'construction_tools_safety':'Safety',
'fashion_underwear_beach':'Underwear',
'fashion_sport':'Active',
'signaling_and_security':'Signaling and security',
'computers':'Computers',
'christmas_supplies':'Christmas',
'fashio_female_clothing':'Female Clothing',
'home_appliances_2':'Home Appliances',
'books_imported':'Imported',
'drinks':'Food & Drinks',
'cine_photo':'Movies',
'la_cuisine':'Kitchen',
'music':'Music',
'home_comfort_2':'Decor',
'small_appliances_home_oven_and_coffee':'Small Appliances',
'cds_dvds_musicals':'CDs, DVDs and musicals ',
'dvds_blu_ray':'Blu Ray',
'flowers':'Flowers',
'arts_and_craftmanship':'Arts & crafts',
'diapers_and_hygiene':'Diapers & hygine',
'fashion_childrens_clothes':'Children Clothing',
'security_and_services':'Security and services',
 }

In [79]:
vals_to_replace={
'health_beauty':'Health & Beauty',
'computers_accessories':'Technology',
'auto':'Auto',
'bed_bath_table':'Home',
'furniture_decor':'Home',
'sports_leisure':'Sports',
'perfumery':'Health & Beauty',
'housewares':'Home',
'telephony':'Technology',
'watches_gifts':'Fashion',
'food_drink':'Food & Drinks',
'baby':'Kids',
'stationery':'Stationery',
'tablets_printing_image':'Technology',
'toys':'Kids',
'fixed_telephony':'Technology',
'garden_tools':'Home',
'fashion_bags_accessories':'Fashion',
'small_appliances':'Home',
'consoles_games':'Technology',
'audio':'Technology',
'fashion_shoes':'Fashion',
'cool_stuff':'Technology',
'luggage_accessories':'Travel',
'air_conditioning':'Home',
'construction_tools_construction':'Construction & Industry',
'kitchen_dining_laundry_garden_furniture':'Home',
'costruction_tools_garden':'Construction & Industry',
'fashion_male_clothing':'Fashion',
'pet_shop':'Pets',
'office_furniture':'Home',
'market_place':'Construction & Industry',
'electronics':'Technology',
'home_appliances':'Home',
'party_supplies':'Parties and Festivities',
'home_confort':'Home',
'costruction_tools_tools':'Construction & Industry',
'agro_industry_and_commerce':'Construction & Industry',
'furniture_mattress_and_upholstery':'Home',
'books_technical':'Books, music & movies',
'home_construction':'Construction & Industry',
'musical_instruments':'Books, music & movies',
'furniture_living_room':'Home',
'construction_tools_lights':'Construction & Industry',
'industry_commerce_and_business':'Construction & Industry',
'food':'Food & Drinks',
'art':'Arts & crafts',
'furniture_bedroom':'Home',
'books_general_interest':'Books, music & movies',
'construction_tools_safety':'Construction & Industry',
'fashion_underwear_beach':'Fashion',
'fashion_sport':'Fashion',
'signaling_and_security':'Technology',
'computers':'Technology',
'christmas_supplies':'Parties and Festivities',
'fashio_female_clothing':'Fashion',
'home_appliances_2':'Home',
'books_imported':'Books, music & movies',
'drinks':'Food & Drinks',
'cine_photo':'Books, music & movies',
'la_cuisine':'Home',
'music':'Books, music & movies',
'home_comfort_2':'Home',
'small_appliances_home_oven_and_coffee':'Home',
'cds_dvds_musicals':'Books, music & movies',
'dvds_blu_ray':'Books, music & movies',
'flowers':'Home',
'arts_and_craftmanship':'Arts & crafts',
'diapers_and_hygiene':'Kids',
'fashion_childrens_clothes':'Fashion',
'security_and_services':'Technology'}

In [80]:
vals_subcat={
'health_beauty':'Health & Beauty',
'computers_accessories':'Computers',
'auto':'Auto',
'bed_bath_table':'Bed',
'furniture_decor':'Decor',
'sports_leisure':'Sports',
'perfumery':'Perfumery',
'housewares':'Kitchen',
'telephony':'Telephony',
'watches_gifts':'Accesories',
'food_drink':'Food & Drinks',
'baby':'Baby',
'stationery':'Stationery',
'tablets_printing_image':'Computers',
'toys':'Toys',
'fixed_telephony':'Telephony',
'garden_tools':'Garden',
'fashion_bags_accessories':'Accesories',
'small_appliances':'Appliances',
'consoles_games':'Gaming',
'audio':'Audio',
'fashion_shoes':'Shoes',
'cool_stuff':'Gadgets',
'luggage_accessories':'Luggage',
'air_conditioning':'Appliances',
'construction_tools_construction':'Construction',
'kitchen_dining_laundry_garden_furniture':'Furniture',
'costruction_tools_garden':'Construction',
'fashion_male_clothing':'Male Clothing',
'pet_shop':'Pets',
'office_furniture':'Furniture',
'market_place':'Market Place',
'electronics':'Electronics',
'home_appliances':'Appliances',
'party_supplies':'Party',
'home_confort':'Decor',
'costruction_tools_tools':'Construction',
'agro_industry_and_commerce':'Industry',
'furniture_mattress_and_upholstery':'Furniture',
'books_technical':'Books',
'home_construction':'Construction',
'musical_instruments':'Music',
'furniture_living_room':'Furniture',
'construction_tools_lights':'Construction',
'industry_commerce_and_business':'Industry',
'food':'Food',
'art':'Arts & crafts',
'furniture_bedroom':'Furniture',
'books_general_interest':'Books',
'construction_tools_safety':'Construction',
'fashion_underwear_beach':'Underwear',
'fashion_sport':'Active',
'signaling_and_security':'Security',
'computers':'Computers',
'christmas_supplies':'Festivities',
'fashio_female_clothing':'Female Clothing',
'home_appliances_2':'Home Appliances',
'books_imported':'Books',
'drinks':'Drinks',
'cine_photo':'Movies',
'la_cuisine':'Home Appliances',
'music':'Music',
'home_comfort_2':'Decor',
'small_appliances_home_oven_and_coffee':'Home Appliances',
'cds_dvds_musicals':'CDs, DVDs, Blu Ray',
'dvds_blu_ray':'CDs, DVDs, Blu Ray',
'flowers':'Decor',
'arts_and_craftmanship':'Arts & crafts',
'diapers_and_hygiene':'Baby',
'fashion_childrens_clothes':'Children Clothing',
'security_and_services':'Security'
 }

In [81]:
prod_cat_df['prod_cat'] = prod_cat_df['product_category_name_english'].map(vals_to_replace)
prod_cat_df['prod_sub_cat'] = prod_cat_df['product_category_name_english'].map(vals_subcat)
prod_cat_df['prod_last_cat'] = prod_cat_df['product_category_name_english'].map(vals_prod_last)

In [82]:
print(len(prod_cat_df))

71

In [83]:
prod_cat_df= prod_cat_df.drop_duplicates(subset=["prod_cat", "prod_sub_cat","prod_last_cat"], keep=False)

In [84]:
print(len(prod_cat_df))

68

In [85]:
prod_cat_df=prod_cat_df.sort_values(by=['prod_cat'])
prod_cat_df['prod_cat_id'] = (prod_cat_df.groupby(['prod_cat']).cumcount()==0).astype(int)
prod_cat_df['prod_cat_id'] = prod_cat_df['prod_cat_id'].cumsum()
prod_cat_df['product_category_id'] = np.arange(len(prod_cat_df))+1
prod_cat_df.head()

,product_category_name,product_category_name_english,prod_cat,prod_sub_cat,prod_last_cat,prod_cat_id,product_category_id
46,artes,art,Arts & crafts,Arts & crafts,Art,1,1
67,artes_e_artesanato,arts_and_craftmanship,Arts & crafts,Arts & crafts,Arts & crafts,1,2
2,automotivo,auto,Auto,Auto,Auto,2,3
65,dvds_blu_ray,dvds_blu_ray,"Books, music & movies","CDs, DVDs, Blu Ray",Blu Ray,3,4
41,instrumentos_musicais,musical_instruments,"Books, music & movies",Music,Musical Instruments,3,5

In [86]:
pd.set_option('display.max_rows', None)

In [87]:
prod_cat_df

,product_category_name,product_category_name_english,prod_cat,prod_sub_cat,prod_last_cat,prod_cat_id,product_category_id
46,artes,art,Arts & crafts,Arts & crafts,Art,1,1
67,artes_e_artesanato,arts_and_craftmanship,Arts & crafts,Arts & crafts,Arts & crafts,1,2
2,automotivo,auto,Auto,Auto,Auto,2,3
65,dvds_blu_ray,dvds_blu_ray,"Books, music & movies","CDs, DVDs, Blu Ray",Blu Ray,3,4
41,instrumentos_musicais,musical_instruments,"Books, music & movies",Music,Musical Instruments,3,5
61,musica,music,"Books, music & movies",Music,Music,3,6
48,livros_interesse_geral,books_general_interest,"Books, music & movies",Books,General Interest,3,7
57,livros_importados,books_imported,"Books, music & movies",Books,Imported,3,8
39,livros_tecnicos,books_technical,"Books, music & movies",Books,Technical,3,9
64,cds_dvds_musicais,cds_dvds_musicals,"Books, music & movies","CDs, DVDs, Blu Ray","CDs, DVDs and musicals",3,10
59,cine_foto,cine_photo,"Books, music & movies",Movies,Movies,3,11
36,construcao_ferramentas_ferramentas,costruction_tools_tools,Construction & Industry,Construction,Tools,4,12
27,construcao_ferramentas_jardim,costruction_tools_garden,Construction & Industry,Construction,Garden Tools,4,13
49,construcao_ferramentas_seguranca,construction_tools_safety,Construction & Industry,Construction,Safety,4,14
43,construcao_ferramentas_iluminacao,construction_tools_lights,Construction & Industry,Construction,Lights,4,15
25,construcao_ferramentas_construcao,construction_tools_construction,Construction & Industry,Construction,Construction Tools,4,16
37,agro_industria_e_comercio,agro_industry_and_commerce,Construction & Industry,Industry,Agro,4,17
44,industria_comercio_e_negocios,industry_commerce_and_business,Construction & Industry,Industry,Commerce and Business,4,18
31,market_place,market_place,Construction & Industry,Market Place,Market Place,4,19
40,casa_construcao,home_construction,Construction & Industry,Construction,Home,4,20
21,fashion_calcados,fashion_shoes,Fashion,Shoes,Shoes,5,21
51,fashion_esporte,fashion_sport,Fashion,Active,Active,5,22
55,fashion_roupa_feminina,fashio_female_clothing,Fashion,Female Clothing,Female Clothing,5,23
69,fashion_roupa_infanto_juvenil,fashion_childrens_clothes,Fashion,Children Clothing,Children Clothing,5,24
17,fashion_bolsas_e_acessorios,fashion_bags_accessories,Fashion,Accesories,Bags,5,25
28,fashion_roupa_masculina,fashion_male_clothing,Fashion,Male Clothing,Male Clothing,5,26
50,fashion_underwear_e_moda_praia,fashion_underwear_beach,Fashion,Underwear,Underwear,5,27
9,relogios_presentes,watches_gifts,Fashion,Accesories,Watches & Gifts,5,28
10,alimentos_bebidas,food_drink,Food & Drinks,Food & Drinks,Food & Drinks,6,29
45,alimentos,food,Food & Drinks,Food,Food,6,30
58,bebidas,drinks,Food & Drinks,Drinks,Food & Drinks,6,31
6,perfumaria,perfumery,Health & Beauty,Perfumery,Perfumery,7,32
0,beleza_saude,health_beauty,Health & Beauty,Health & Beauty,Health & Beauty,7,33
60,la_cuisine,la_cuisine,Home,Home Appliances,Kitchen,8,34
63,portateis_casa_forno_e_cafe,small_appliances_home_oven_and_coffee,Home,Home Appliances,Small Appliances,8,35
18,eletroportateis,small_appliances,Home,Appliances,Small Appliances,8,36
30,moveis_escritorio,office_furniture,Home,Furniture,Office,8,37
24,climatizacao,air_conditioning,Home,Appliances,Air Conditioning,8,38
26,moveis_cozinha_area_de_servico_jantar_e_jardim,kitchen_dining_laundry_garden_furniture,Home,Furniture,Kitchen,8,39
7,utilidades_domesticas,housewares,Home,Kitchen,Housewares,8,40
56,eletrodomesticos_2,home_appliances_2,Home,Home Appliances,Home Appliances,8,41
33,eletrodomesticos,home_appliances,Home,Appliances,Home Appliances,8,42
3,cama_mesa_banho,bed_bath_table,Home,Bed,Furniture,8,43
38,moveis_colchao_e_estofado,furniture_mattress_and_upholstery,Home,Furniture,Mattress,8,44
42,moveis_sala,furniture_living_room,Home,Furniture,Living Room,8,45
47,moveis_quarto,furniture_bedroom,Home,Furniture,Bedroom,8,46
16,ferramentas_jardim,garden_tools,Home,Garden,Garden Tools,8,47
66,flores,flowers,Home,Decor,Flowers,8,48
14,brinquedos,toys,Kids,Toys,Toys,9,49
68,fraldas_higiene,diapers_and_hygiene,Kids,Baby,Diapers & hygine,9,50
11,bebes,baby,Kids,Baby,Baby,9,51
34,artigos_de_festas,party_supplies,Parties and Festivities,Party,Party Supplies,10,52
54,artigos_de_natal,christmas_supplies,Parties and Festivities,Festivities,Christmas,10,53
29,pet_shop,pet_shop,Pets,Pets,Pets,11,54
5,esporte_lazer,sports_leisure,Sports,Sports,Sports,12,55
12,papelaria,stationery,Stationery,Stationery,Stationery,13,56
20,audio,audio,Technology,Audio,Audio,14,57
22,cool_stuff,cool_stuff,Technology,Gadgets,Cool Stuff,14,58
19,consoles_games,consoles_games,Technology,Gaming,Console Games,14,59
32,eletronicos,electronics,Technology,Electronics,Electronics,14,60
15,telefonia_fixa,fixed_telephony,Technology,Telephony,Fixed,14,61
70,seguros_e_servicos,security_and_services,Technology,Security,Security and services,14,62
52,sinalizacao_e_seguranca,signaling_and_security,Technology,Security,Signaling and security,14,63
53,pcs,computers,Technology,Computers,Computers,14,64
13,tablets_impressao_imagem,tablets_printing_image,Technology,Computers,Tablets,14,65
8,telefonia,telephony,Technology,Telephony,Telephony,14,66
1,informatica_acessorios,computers_accessories,Technology,Computers,Computer Accesories,14,67
23,malas_acessorios,luggage_accessories,Travel,Luggage,Luggage,15,68

In [88]:
# inserting values into product_category table
prod_cat_df.to_sql(name='product_category', con=engine, if_exists='append', index=False)

68

In [89]:
## for Table 7: products
products.rename(columns={'product_name_lenght': 'product_name_length','product_description_lenght': 'product_description_length'}, inplace=True)
products_df=products.sort_values(by=['product_id'])
products_df= pd.merge(products_df,prod_cat_df,on ='product_category_name',how ='left')
products_df=products_df.drop(columns=['product_category_name','product_category_name_english','prod_cat_id','prod_cat','prod_sub_cat','prod_last_cat'])
#prod_cat_df['product_category_id'] = np.arange(len(prod_cat_df))+1
products_df.head()

,product_id,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_id
0,00066f42aeeb9f3007548bb9d3f33c38,53.0,596.0,6.0,300.0,20.0,16.0,16.0,32.0
1,00088930e925c41fd95ebfe695fd2655,56.0,752.0,4.0,1225.0,55.0,10.0,26.0,3.0
2,0009406fd7479715e4bef61dd91f2462,50.0,266.0,2.0,300.0,45.0,15.0,35.0,43.0
3,000b8f95fcb9e0096488278317764d19,25.0,364.0,3.0,550.0,19.0,24.0,12.0,40.0
4,000d9be29b5207b54e86aa1b1ac54872,48.0,613.0,4.0,250.0,22.0,11.0,15.0,28.0

In [90]:
# inserting values into products
products_df.to_sql(name='products', con=engine, if_exists='append', index=False)

951

In [91]:
## for Table 8: Order list
order_list_df = order
print(len(order_list_df))
#order_det_df= pd.merge(order_det_df,order_items,on ='order_id',how ='left')
#print(len(order_det_df))
order_list_df=order_list_df.drop_duplicates(subset = "order_id")
print(len(order_list_df))
order_list_df = order_list_df.filter(['order_id','customer_id'])
order_list_df.head()

99441
99441

                           order_id                       customer_id
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

In [95]:
# inserting values into payment_type
order_list_df.to_sql(name='order_list', con=engine, if_exists='append', index=False)

441

In [96]:
## for Table 9: Order details
order_det_df = order_items
print(len(order_det_df))
order_det_df = order_det_df.filter(['order_id','order_item_id','product_id','seller_id','price','freight_value'])

112650

In [97]:
order_det_df.head()

,order_id,order_item_id,product_id,seller_id,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14

In [98]:
# inserting values into payment_type
order_det_df.to_sql(name='order_details', con=engine, if_exists='append', index=False)

650

In [99]:
## for Table 9: Payment Type
payments_df = order_payments.filter(['payment_type'])
payments_df=payments_df.drop_duplicates(subset = "payment_type")
payments_df=payments_df.sort_values(by=['payment_type'])
payments_df['payment_type_id'] = np.arange(len(payments_df))+1

In [100]:
payment_cat={
'boleto':'Boleto',
'credit_card':'Credit Card',
'debit_card':'Debit Card',
'not_defined':'Not Defined',
'voucher':'Voucher'
 }

In [101]:
payments_df['payment_type_new'] = payments_df['payment_type'].map(payment_cat)

In [102]:
payments_df.head()

      payment_type  payment_type_id payment_type_new
9           boleto                1           Boleto
0      credit_card                2      Credit Card
85      debit_card                3       Debit Card
51280  not_defined                4      Not Defined
25         voucher                5          Voucher

In [103]:
# inserting values into payment_type
payments_df.to_sql(name='payment_type', con=engine, if_exists='append', index=False)

5

In [104]:
## for Table 10: Payment Details
payments_det_df = order_payments
#print(len(payments_det_df))
payments_det_df= pd.merge(payments_det_df,payments_df,on ='payment_type',how ='left')
payments_det_df['payment_id'] = np.arange(len(payments_det_df))+1
payments_det_df = payments_det_df.filter(['payment_id','order_id','payment_sequential','payment_installments','payment_value','payment_type_id'])
payments_det_df.head()

,payment_id,order_id,payment_sequential,payment_installments,payment_value,payment_type_id
0,1,b81ef226f3fe1789b1e8b2acac839d17,1,8,99.33,2
1,2,a9810da82917af2d9aefd1278f1dcfa0,1,1,24.39,2
2,3,25e8ea4e93396b6fa0d3dd708e76c1bd,1,1,65.71,2
3,4,ba78997921bbcdc1373bb41e913ab953,1,8,107.78,2
4,5,42fdf880ba16b47b59251dd489d4441a,1,2,128.45,2

In [105]:
# inserting values into payment_type
payments_det_df.to_sql(name='payment_details', con=engine, if_exists='append', index=False)

886

In [106]:
## for Table 11: Logistics ( Delivery)

# Aligning the column names in the dataset and the table
order.rename(columns={'order_delivered_carrier_date': 'order_delivery_carrier_date'}, inplace=True)
order.rename(columns={'order_delivered_customer_date': 'order_delivery_customer_date'}, inplace=True)

# filtering on the datasets in the dataset that we require
delivery_df = order.filter(['order_id', 'order_purchase_timestamp','order_approved_at','order_delivery_carrier_date','order_delivery_customer_date','order_estimated_delivery_date'])
#delivery_df=delivery_df.drop_duplicates(subset='order_id')
print(len(delivery_df))
orderx=order_items.drop_duplicates(subset='order_id')
#orderx= order.filter(['order_id', 'shipping_limit_date'])
delivery_df = pd.merge(delivery_df, orderx, on='order_id',how='left')
print(len(delivery_df))
delivery_df = delivery_df.filter(['order_id','shipping_limit_date', 'order_purchase_timestamp','order_approved_at','order_delivery_carrier_date','order_delivery_customer_date','order_estimated_delivery_date'])
print(len(delivery_df))
#delivery_df = delivery_df.drop_duplicates(subset='order_id')
#print(len(delivery_df))

99441
99441
99441

In [107]:
#orderx.head()
#orderx.shape

In [108]:
delivery_df.head()

,order_id,shipping_limit_date,order_purchase_timestamp,order_approved_at,order_delivery_carrier_date,order_delivery_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-06 11:07:15,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,2018-07-30 03:24:27,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,2018-08-13 08:55:23,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,2017-11-23 19:45:59,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-19 20:31:37,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [109]:
# inserting values into product table
delivery_df.to_sql(name='delivery', con=engine, if_exists='append', index=False)

441

In [110]:
## for Table 12: Status

# Joining our datasets to get all the columns in one dataset
df1 = pd.merge(payments_det_df, order, on='order_id',how='inner')
df1.head()

,payment_id,order_id,payment_sequential,payment_installments,payment_value,payment_type_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivery_carrier_date,order_delivery_customer_date,order_estimated_delivery_date
0,1,b81ef226f3fe1789b1e8b2acac839d17,1,8,99.33,2,0a8556ac6be836b46b3e89920d59291c,delivered,2018-04-25 22:01:49,2018-04-25 22:15:09,2018-05-02 15:20:00,2018-05-09 17:36:51,2018-05-22 00:00:00
1,2,a9810da82917af2d9aefd1278f1dcfa0,1,1,24.39,2,f2c7fc58a9de810828715166c672f10a,delivered,2018-06-26 11:01:38,2018-06-26 11:18:58,2018-06-28 14:18:00,2018-06-29 20:32:09,2018-07-16 00:00:00
2,3,25e8ea4e93396b6fa0d3dd708e76c1bd,1,1,65.71,2,25b14b69de0b6e184ae6fe2755e478f9,delivered,2017-12-12 11:19:55,2017-12-14 09:52:34,2017-12-15 20:13:22,2017-12-18 17:24:41,2018-01-04 00:00:00
3,4,ba78997921bbcdc1373bb41e913ab953,1,8,107.78,2,7a5d8efaaa1081f800628c30d2b0728f,delivered,2017-12-06 12:04:06,2017-12-06 12:13:20,2017-12-07 20:28:28,2017-12-21 01:35:51,2018-01-04 00:00:00
4,5,42fdf880ba16b47b59251dd489d4441a,1,2,128.45,2,15fd6fb8f8312dbb4674e4518d6fa3b3,delivered,2018-05-21 13:59:17,2018-05-21 16:14:41,2018-05-22 11:46:00,2018-06-01 21:44:53,2018-06-13 00:00:00

In [111]:
# filtering on the datasets in the dataset that we require
status_df = df1.filter(['order_id', 'customer_id','payment_id','order_status'])
status_df = status_df.drop_duplicates(subset='order_id')

# inserting values into product table
status_df.to_sql(name='order_status', con=engine, if_exists='append', index=False)

440

In [112]:
order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela ...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [ ]:
#df2=df1[df1['order_id'].duplicated()]

In [ ]:
#df2.sort_values(by=['order_id','payment_sequential'])

In [113]:
# for Table 13: review_details - one review id is linked to multiple order_ids, an order can be linked to multiple review _ids

review_details_df = order_reviews
print(len(review_details_df))

99224

In [114]:
# inserting values into customer_location table
review_details_df.to_sql(name='review_details', con=engine, if_exists='append', index=False)

224

In [115]:
## for Table 14: Order Reviews
# filtering on the datasets in the dataset that we require
order_reviews_df = order_reviews.filter(['order_id', 'review_id'])
# inserting values into the table
order_reviews_df.to_sql(name='order_reviews', con=engine, if_exists='append', index=False)

224

In [ ]:
## for Table 15: Product Reviews
# filtering on the datasets in the dataset that we require
#product_reviews_df = order_reviews
#print(len(product_reviews_df))
#product_reviews_df= pd.merge(product_reviews_df,order_items,on ='order_id',how ='inner')
#print(len(product_reviews_df))
#product_reviews_df = product_reviews_df.filter(['order_id', 'review_id','order_item_id','product_id','review_score'])
# inserting values into the table
#order_reviews_df.to_sql(name='order_reviews', con=engine, if_exists='append', index=False)